<section class="section-two">
  <div class="container cont">
    <div class="destinations-button-container gallery-text">
      <p class="destinations-text">Choice Of</p>
      <h2 class="destinations-title">Destinations</h2>
      <p class="destinations-exsplore">
        explore the beauty of god's earth in a beautiful forest and have fun
      </p>
      <button class="destinations-button">Exsplore Now</button>
    </div>

    <div class="slider">
      <div class="slider-inner">
        <button class="button-gallery">
          <svg
            class="gallery-svg"
            width="16"
            height="20"
            viewBox="0 0 16 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 3L3.32575 9.15634C2.70826 9.54929 2.70825 10.4507 3.32575 10.8437L13 17"
              stroke="#FEFEFE"
              stroke-width="5"
              stroke-linecap="round"
            />
          </svg>
        </button>
        <img src="../img/Rectangle 24.png" alt="Зображення 1" />
        <img src="../img/Rectangle 25.png" alt="Зображення 2" />
        <img src="../img/Rectangle 26 (1).png" alt="Зображення 3" />
      </div>
    </div>
  </div>
</section>
