<footer class="footer">
  <div class="container">
    <div class="wrapper"> 
    <nav class="nav">
      <a class="nav-logo footer-logo" href="./index.html" aria-label="Site logo"
        >GoTrieop</a
      >
      <ul class="nav-list footer-list">
        <li class="nav-item">
          <a class="nav-link nav-link-home" href="./page-2.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html"
            >Pricing</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html"
            >Contack</a
          >
        </li>
      </ul>
    <div class="actions">
    <button class="header-sign footer-sign">Sign up</button>
    <button class="header-login">Login</button>
    </nav>
    </div>
  </div>
</footer>
