<section class="section-five">
  <div class="container">
    <h2 class="form-title">Subscribe To Our Newsletter</h2>
    <div class="form-section">
      <div>
      <form class="form-title-form" id="subscribeForm">
        <input
          class="form-title-input"
          type="email"
          id="email"
          placeholder="Yourmail@mail.com"
          required
        />
        </div>
        <div>
          <button class="form-button" type="submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</section>
