<section class="section-three">
  <div class="container kuper">
    <div class="kuper-klas">
      <img class="rewievs-img" src="../img/image 11.png" alt="map" />
    </div>
    <div class="kuper kuper-all">
      <h2 class="review-title">What do customers say about us?</h2>

      <div class="review">
        <div class="review-author">
          <div class="author">
            <img
              class="review-author-img"
              src="../img/Mask Group.png"
              alt="Аватар користувача"
              width="134"
              height="134"
            />
          </div>
          <div class="info-author">
            <h3 class="review-title-small">Alpanasap</h3>
            <p class="city-autor">Japung, Indonesia</p>
          </div>
        </div>
        <p class="review-text">
          Very satisfying service makes it comfortable, a beautiful place in the
          world.
        </p>
        <div class="stars">
          <span data-value="1">★</span>
          <span data-value="2">★</span>
          <span data-value="3">★</span>
          <span data-value="4">★</span>
          <span data-value="5">★</span>
        </div>
        <p>Ваш рейтинг: <span id="rating-value">0</span></p>
      </div>
    </div>
  </div>
</section>
